---
---

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: black; }

html { height: 100%; }

body {
  color: white;
  font-family: monospace;
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: ff679f; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid white;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: #ff679f;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  black-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid white;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
    color: #f1fa8c;
}

#icon-row {
  display: flex;
  justify-content: space-evenly;
}

