---
---

@import "{{ site.theme }}";

iframe {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

*:target { background: #009860; }

code {
  color: white;
  background: #009860;
}

a {
    color: #0e0573;
}

#icon-row {
  display: flex;
  justify-content: center;
}
